@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald:200,300,400&display=swap');
:root{
    --purple-theme: #091428;
    --lightpurple-theme: #50647B;
    --gray-bg-heading: #B8B8B8;
    --gray-bg-sidebar: #DEE3E7;
    --lightgreen-theme: #65ffce;
    --green-theme: #46B692;
    --red-theme: #F75B54;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px 0px 10px 10px;
    background: var(--lightpurple-theme);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background:var(--green-theme); 
    border-radius: 0 0 10px 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lightgreen-theme); 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-moz-selection { /* Code for Firefox */
    color: var(--purple-theme);
    background: var(--green-theme);
} 
::selection {
    color: var(--purple-theme);
    background: var(--green-theme);
}
input:focus, option:focus, select:focus {
    outline-color: var(--lightgreen-theme);
}
body{
    height: 100%;
    /* background: linear-gradient(var(--green-theme), #fff); */
    background-repeat: no-repeat;

}
a{
    text-decoration: none;
}
table, select, input, a{
    color: whitesmoke;
}
input{
    width: 100%;
    line-height: 5px;
    font-size: 10px;
}
input[type=text] {
    height: 30px;
    border: 1px solid var(--green-theme);
    background-color: transparent;
    color: whitesmoke;
    font-size: 15px;
}
input[type=button], input[type=reset], input[type=submit]{
    border: 1px solid var(--green-theme);
    background-color: var(--green-theme);
    color: var(--purple-theme);
    text-decoration-style: bold;
    font-size: 15px;
    border-radius: 0px 15px 15px 0px;
}

/* -----Burger Menu Icon----- */
.burgureMenuIcon {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6.5px, 8px);
  transform: rotate(-45deg) translate(-6.5px, 8px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6.5px, -8px);
  transform: rotate(45deg) translate(-6.5px, -8px);
}

/* -----Sidebar----- */
.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--purple-theme);
    transition: 0.5s;
    padding-top: 40px;
    overflow-x: hidden;
}
.menu{
    padding: 20px 8px 20px 32px;
    font-size: 18px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
}
.menu > span:nth-child(2){
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s;
    padding-left: 10px;
}
.menu:hover, .active{
    background-color: var(--gray-bg-sidebar);
    color: var(--purple-theme);
}

.menu:hover > span:nth-child(2), .active > span:nth-child(2){
    color: var(--purple-theme);
}
.root {
    transition: 0.5s;
    margin-left: 250px;
}
/* -----Sidebar (Search Box)----- */
.search-box{
    padding: 0px 20px 0px 20px;
}
.search-box input[type=button]{
    line-height: 4.7px;
    margin-left: -2px;
}
/* -----Sidebar (Dropdown)----- */
.side-drop {
    transition: 3s;
    background-color: var(--lightpurple-theme);
}
.side-drop > a{
    display: block;
    text-decoration: none;
}
.side-drop div{
    padding: 20px 8px 20px 40px;
}
.dropdown-btn span:nth-child(3){
    margin-left: 90px;
}

/*-----Navigation Bar-----*/
header{
    /*background: linear-gradient(to right, #40b3a2, #85cdca);*/
    background-color: var(--green-theme);
    font-size: 16px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 2%;
}
.logo{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-right: auto;
    transition: ease 0.3s;
}
header button{
    margin-left: 20px;
    color: black;
    font-weight: bold;
}
header li, header a, button{
    color: black;
    text-decoration: none;
}
.nav_links > a > li{
    list-style: none;
    display: inline-block;
    padding: 0px 30px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* ------grid container------ */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}
input[type=date] {
    height: 100%;
}
.grid_container {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: 0 auto;
    color: whitesmoke;
}
.grid {
    background-color: var(--purple-theme);
    border: 1px solid lightgrey;
    padding: 20px;
}
.inside > span{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.item1 {
    grid-column: 1 / 3;
}
.item2 {
    grid-column: 3 / 5;
}

.item3 {
    grid-column: 5 / 7;
}
.item4 {
    grid-column: 7 / 9;
}

.item5 {
    grid-column: 1 / 9;
}

.inside{
    padding: 0;
    padding-bottom: 10px;
    border: none;
}